.footer {
    top: 0;
    z-index: 1000;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #bcc8b3;
    padding: 15px 7%;
    transition: 0.5s;
}

.footer ul {
    flex: 1;
    list-style: none;
    text-align: center;
    flex-direction: column;
}

.footer ul li {
    display: inline-block;
    margin: 10px 50px;
    font-size: 15px;
    cursor: pointer;
}

.dark .footer {
    background: #0F292A;
    color: #fff;
}

.footer ul li a {
  text-decoration: none;
  color: var(--text-primary);
  transition: color 0.3s ease;
}

.dark .footer ul li a:hover {
  color: #ffcc4d;
}

.footer ul li a:hover {
  color: #cc3e2b;
}

p {
    font-size: 14px;
}

@media (max-width: 1024px) {
  .footer {
    padding: 15px 4%;
  }
}

@media (max-width: 768px) {
  .footer {
    flex-wrap: wrap;
    padding: 10px 5%;
    gap: 10px;
  }
}

  .footer ul li {
    display: inline-block;
    margin: 10px 50px;
    font-size: 13px;
    cursor: pointer;
}

  p {
    font-size: 10px;
  }

@media (max-width: 480px) {
  .footer {
    flex-wrap: wrap;
    padding: 10px 5%;
    gap: 10px;
  }

  .footer ul li {
    display: inline-block;
    margin: 10px 50px;
    font-size: 12px;
    cursor: pointer;
}

  p {
    font-size: 10px;
  }

}