@import './components/eyes/emoji.css';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary: #fff;
  --text-primary: #000000;
  --bg-section: #f4f4f4;
}

.dark {
  --bg-primary: #0F292A;
  background-image: url('./components/assets/bg-minim-noise-dark.png');
  --text-primary: #ffffff;
  --bg-section: #333333;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: background-color 0.5s, color 0.5s;
  font-family: var(--font-jetbrains-mono);
  font-size: 18px;
}

.container {
  background-image: url('./components/assets/bg-noise-25.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; 
  min-height: 100vh;
  overflow: visible;
  background-color: var(--bg-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container .dark {
  background-image: url('./components/assets/bg-minim-noise-dark.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  overflow: visible;
  background-color: var(--bg-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}

section {
  color: var(--text-primary);
  min-height: 100vh;
  padding: 50px 20px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

section {
  scroll-margin-top: 80px; 
}

.section-container {
  min-height: 100vh;
  padding: 120px 20px 50px 20px; 
  scroll-margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.section-container h1 {
  margin-top: -80px;
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.section-container-a {
  margin-top: -130px;
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.section-container p {
  max-width: 600px;
  text-align: center;
  line-height: 1.6;
}

.hero-section {
  position: relative; 
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 120px;
  font-size: 1.5rem;
}

h1 {
  font-family: var(--font-instrument-serif);
}

.big-title {
  font-family: var(--font-instrument-serif);
  margin-top: 50px;
  font-size: 80px;
  text-align: left;
}

.subtitle {
  font-family: var(--font-instrument-serif);
  font-size: 30px;
  text-align: left;
  font-style: italic;
}

.sub-subtitle {
  font-family: var(--font-jetbrains-mono);
  font-size: 16px;
  margin-bottom: 20px;
  text-align: left;
  margin-top: 10px;
}

.sub-sub-subtitle {
  font-family: var(--font-instrument-serif);
  font-size: 20px;
  margin-bottom: 20px;
  text-align: left;
  margin-top: 10px;
  letter-spacing: 2.5px;
}

h2 {
  font-family: var(--font-instrument-serif);
  font-size: 30px;
}

.project-image {
  display: block;   
  margin-top: 20px;            
  margin-left: auto;           
  margin-right: auto;  
  margin-bottom: 10px;          
  width: 80%; 
  height: auto;
}

.penjelasan {
  font-size: 16px;
  margin-bottom: 20px;
}

.section-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 0 20px;
}

.logo-app {
  width: 45px;
  height: 45px;
  margin: 0 10px; 
  display: inline-block;
  object-fit: contain;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.logo-app-mod {
  width: 80px;
  height: 45px;
  margin: 0 10px; 
  display: inline-block;
  object-fit: contain;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.logo-app-mod-xampp {
  width: 50px;
  height: 45px;
  margin: 0 10px; 
  display: inline-block;
  object-fit: contain;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.logo-app-mod-nodejs {
  width: 80px;
  height: 45px;
  margin: 0 10px; 
  display: inline-block;
  object-fit: contain;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.logo-app-mod-csharp-greenfoot {
  width: 45px;
  height: 60px;
  margin: 0 10px; 
  display: inline-block;
  object-fit: contain;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.logo-app-mod-gh-li {
  width: 45px;
  height: 40px;
  margin: 0 10px; 
  display: inline-block;
  object-fit: contain;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.logo-app-mod-css {
  width: 40px;
  height: 55px;
  margin: 0 10px; 
  display: inline-block;
  object-fit: contain;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.logo-app-mod-html {
  width: 40px;
  height: 55px;
  margin: 0 10px; 
  display: inline-block;
  object-fit: contain;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.logo-app-1 {
  width: 125px;
  height: 45px;
  margin: 0 10px; 
  display: inline-block;
  object-fit: contain;
  transition: transform 0.3s ease, filter 0.3s ease;
}

/* HOVER */
.logo-app:hover {
  transform: scale(1.2);
  filter: grayscale(0%);
}

.logo-app-mod:hover {
  transform: scale(1.2);
  filter: grayscale(0%);
}

.logo-app-1:hover {
  transform: scale(1.2);
  filter: grayscale(0%);
}

.logo-app-mod-css:hover {
  transform: scale(1.2);
  filter: grayscale(0%);
}

.logo-app-mod-html:hover {
  transform: scale(1.2);
  filter: grayscale(0%);
}

.logo-app-mod-csharp-greenfoot:hover {
  transform: scale(1.2);
  filter: grayscale(0%);
}

.logo-app-mod-xampp:hover {
  transform: scale(1.2);
  filter: grayscale(0%);
}

.logo-app-mod-nodejs:hover {
  transform: scale(1.2);
  filter: grayscale(0%);
}

.logo-app-mod-gh-li:hover {
  transform: scale(1.2);
  filter: grayscale(0%);
}

@media (max-width: 1024px) {
  h1 { font-size: 28px; }
}

@media (max-width: 768px) { 
  h1 { font-size: 20px; }

  .big-title {
    font-size: 50px;
  }
}

@media (max-width: 480px) {
  .section-container h1 {
    margin-top: -80px;
    margin-bottom: 20px;
    font-size: 2.1rem;
  }

  h2 {
    font-family: var(--font-instrument-serif);
    font-size: 26px;
    text-align: center;
  }

  .big-title {
    font-family: var(--font-instrument-serif);
    margin-top: 50px;
    font-size: 50px;
    text-align: left;
  }

  .subtitle {
    font-family: var(--font-instrument-serif);
    font-size: 28px;
    text-align: left;
    font-style: italic;
  }

  .sub-subtitle {
    font-family: var(--font-jetbrains-mono);
    font-size: 14px;
    margin-bottom: 20px;
    text-align: left;
    margin-top: 10px;
  }

  .sub-sub-subtitle {
    font-family: var(--font-instrument-serif);
    font-size: 18px;
    margin-bottom: 20px;
    text-align: left;
    margin-top: 10px;
    letter-spacing: 2.5px;
}

  .penjelasan {
    font-size: 14px;
  }
}